<a href="https://colab.research.google.com/github/HeekyungKim6424/exa_machine-learning/blob/main/Boston_house_selling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
#레몬에이드 판매예측을 꼼꼼하게 해놔서 그런지 이제 코드 보는게 막히는건 없는것 같다!
#보스턴 집값예측처럼 서울 집값예측도 되면 좋겠다....
#암튼 두번째 프젝도 화이팅!!

In [ ]:
# 라이브러리 사용

import tensorflow as tf
import pandas as pd

In [ ]:
#데이터 준비하기

파일경로 ='https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv'
보스턴= pd.read_csv(파일경로)
print(보스턴.columns)
보스턴. head()

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

      crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [ ]:
#독립변수, 종속변수 분리
독립 = 보스턴 [['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat']]
종속 = 보스턴 [['medv']]
print(독립.shape, 종속.shape)

(506, 13) (506, 1)

In [11]:
# 모델 구조 만들기

X=tf.keras.layers.Input(shape=[13])
Y=tf.keras.layers.Dense(1)(X)
model=tf.keras.models.Model(X,Y)
model.compile(loss='mse')

In [12]:
# 데이터로 모델 학습시키기
model.fit(독립, 종속, epochs=1000, verbose=0)
model.fit(독립, 종속, epochs=10)

Epoch 1/10
16/16 [==============================] - 0s 1ms/step - loss: 26.5255
Epoch 2/10
16/16 [==============================] - 0s 1ms/step - loss: 26.5548
Epoch 3/10
16/16 [==============================] - 0s 1ms/step - loss: 26.0299
Epoch 4/10
16/16 [==============================] - 0s 1ms/step - loss: 27.1931
Epoch 5/10
16/16 [==============================] - 0s 1ms/step - loss: 26.4191
Epoch 6/10
16/16 [==============================] - 0s 1ms/step - loss: 26.6304
Epoch 7/10
16/16 [==============================] - 0s 1ms/step - loss: 26.8958
Epoch 8/10
16/16 [==============================] - 0s 1ms/step - loss: 26.0251
Epoch 9/10
16/16 [==============================] - 0s 1ms/step - loss: 26.1818
Epoch 10/10
16/16 [==============================] - 0s 1ms/step - loss: 26.1094

In [13]:
#모델 이용하기
print(model.predict(독립[5:10]))

#종속변수 확인
print(종속[5:10]) #위의 값과 확인하기 위해서 출력한거고 딱히 필요한 과정은 아니라고 생각.

[[26.171171]
 [21.065483]
 [17.977146]
 [ 9.34229 ]
 [17.607365]]
   medv
5  28.7
6  22.9
7  27.1
8  16.5
9  18.9

In [14]:
#모델의 수식 확인
print(model.get_weights()) 
#퍼셉트론에서 가중치의 값을 출력하는 코드, 실제로 값이 13개 인걸 알 수 있다.

[array([[-8.8190593e-02],
       [ 7.2567180e-02],
       [-5.1938727e-02],
       [ 3.3436348e+00],
       [ 1.2359611e+00],
       [ 3.9794230e+00],
       [ 1.7020078e-02],
       [-8.6461765e-01],
       [ 1.5122828e-01],
       [-9.3305632e-03],
       [-6.2071218e-04],
       [ 1.5908189e-02],
       [-5.8119887e-01]], dtype=float32), array([2.763295], dtype=float32)]