<a href="https://colab.research.google.com/github/HeekyungKim6424/exa_machine-learning/blob/main/prolog_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#부록1 코드인데 r과 비슷한 코드가 많아서 놀랐다.
#요즘 r배우고 있는데 도움이 되었다는 생각을 많이 하였다.

In [1]:
#라이브러리

import pandas as pd

In [2]:
#파일 읽어오기

파일경로 = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/iris2.csv'
아이리스 = pd.read_csv(파일경로)
아이리스.head()

   꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭  품종
0   5.1  3.5    1.4   0.2   0
1   4.9  3.0    1.4   0.2   0
2   4.7  3.2    1.3   0.2   0
3   4.6  3.1    1.5   0.2   0
4   5.0  3.6    1.4   0.2   0

In [3]:
#칼럼(행)의 데이터 타입 체크
print(아이리스.dtypes)

꽃잎길이     float64
꽃잎폭      float64
꽃받침길이    float64
꽃받침폭     float64
품종         int64
dtype: object

In [ ]:
#여기서 바로 원핫인코딩으로 넘어갔었는데 어차피 해봤자 핫인코디이 안되어있다.
#왜냐하면 애초에 품종을 0,1,2 로 분류해서 얘를 숫자로 인식해서 범주형으로 인식하지 않기 때문이다.
#그래서 품종 테이터 타입을 카테고리로 바꿔서 그 다음에 원핫인코딩을 해줘야 한다
#참 번거롭다.....

In [ ]:
#품종타입을 범주형으로 바꾸어 주기

아이리스['품종']= 아이리스['품종'].astype('category')
print(아이리스.dtypes)

#astype은 타입을 바꿔주는 함수다.R에서도 데이터의 형태를 바꿀때 다음과 같은 함수를 쓴다.
#만약 카테고리를 다시 정수로 바꾸고 싶으면 괄호안에 int를 써주면 된다.

In [ ]:
#다시 카테고리 타입의 변수만 원핫인코딩
인코딩 =pd.get_dummies(아이리스)
인코딩.head()

In [ ]:
#NA 값 체크해보기
아이리스.isna().sum()
#해당코드는 의문문으로 외워두면 기억하기 쉽다. Is () NA ~?
아이리스.tail()

In [ ]:
#결측값 (NA)에 꽃잎폭 평균값을 넣어주는 방법
mean = 아이리스['꽃잎폭'].mean()
print(mean)
아이리스['꽃잎폭']= 아이리스['꽃잎폭'].fillna(mean)
아이리스.tail()